<div class="title-bar">
    <h3 class="doorlock-manager-header">Door Lock Manager</h3>
</div>

<div id="extension-doorlock-manager-main">

    <div>
        <label>Select Door Lock:</label><br>
        <select id="extension-doorlock-manager-select">
        </select>
        <button id="extension-doorlock-manager-addUserButton">Add User</button>
    </div>

    <div id="extension-doorlock-manager-userForm" style="display: none">
        <form>
            <label for="name">Name</label><br>
            <input name="name" id="extension-doorlock-manager-name" required><br>

            <label for="id">Id</label><br>
            <input name="id" id="extension-doorlock-manager-id"><br>

            <label for="pin">Pin</label><br>
            <input name="pin" id="extension-doorlock-manager-pin" type="number" required><br>

            <label for="startTime">Start Date/Time</label><br>
            <input name="startDate" id="extension-doorlock-manager-startDate" type="date">
            <input name="startTime" id="extension-doorlock-manager-startTime" type="time">
            <br>

            <label for="endTime">End Date/Time</label><br>
            <input name="endDate" id="extension-doorlock-manager-endDate" type="date">
            <input name="endTime" id="extension-doorlock-manager-endTime" type="time">
            <br>

            <button id="extension-doorlock-manager-submitUser">Add User</button>
        </form>
    </div>

    <div>
        <table id="extension-doorlock-manager-userList">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
            </tr>
            </thead>
        </table>
    </div>

    <div id="extension-doorlock-manager-showUsers">
    </div>

</div>
